@charset "UTF-8";
/* Variables */
/* Mixins */
/* Global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-style: none;
  text-decoration: none !important;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 1000px) {
  #images {
    width: 100%;
    height: auto;
    margin: 70px auto;
    padding: 0 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "floralia" "srtapeel" "atipico" "ch" "entrenate" "zorzal" "thomas" "gula" "sedal" "skip";
    row-gap: 20px;
  }
  h1 .trabajemos {
    font-size: 30px;
  }
  h2 {
    font-size: 18px;
    margin: 0 0 50px 0;
  }
}
@media (max-width: 768px) {
  #footer {
    flex-direction: column;
    text-align: center;
  }
  .card {
    width: 100%;
  }
  .grid_index {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
#header {
  max-width: 1920px;
  width: 100%;
  height: 65px;
  background-color: #EBADB9;
}
#header .navbar-nav a {
  font-size: 20px;
  color: #E66440;
  padding: 5px;
}
#header .navbar-nav a:hover {
  font-weight: 600;
  color: #E66440;
  transition: all 0.03s ease-in-out;
}
#header .navbar-toggler {
  border: none;
}
#header .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF8,...");
}
#header .navbar-collapse.show .nav-link {
  background-color: rgba(235, 173, 185, 0.93);
  color: #E66440;
  text-align: center;
  margin: 0px;
  padding: 2px;
}
#header .navbar-collapse.show .nav-link:hover {
  background-color: #EBADB9;
  font-weight: 600;
}
#header .navBar__logo {
  width: 40px;
  height: 40px;
}
#header .navBar__logo:hover {
  width: 45px;
  height: 45px;
  transition: all 0.3s ease-in-out;
}

#body {
  background-color: white;
  max-width: 1920px;
  height: 1000px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  width: 100%;
  min-height: 100vh;
}

.portada_contacto, .portada_proyectos, .portada_cv, .portada_index, .ondas_footer, .portada_about, .gif_main, .about_main, .cuadricula_main {
  max-width: 100%;
  display: block;
}

h1, .trabajemos {
  font-size: 40px;
  font-weight: 700;
  color: #EBADB9;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 50px auto 0;
}
h1:hover, .trabajemos:hover {
  font-size: 50px;
  transition: all 0.3s ease-in-out;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #E66440;
  text-align: center;
  margin: 0 auto 100px;
}

#footer {
  width: 100%;
  height: auto;
  max-width: 100%;
  background-color: #E66440;
  display: flex;
  justify-content: space-between;
  padding: 0 20px 10px 20px;
  box-sizing: border-box;
}

.logo_footer img {
  width: 200px;
  margin: 20px 0 0 30px;
}

ul, li, a {
  list-style: none; /*lista sin puntos*/
  font-size: 18px;
  color: #EBDDBC;
  display: flex;
  flex-direction: column;
}

ul li a:hover {
  font-weight: 600;
  transition: 0.3s;
}

.formulario_footer {
  font-size: 18px;
  color: #EBDDBC;
  align-items: center;
}

.formulario_footer input[type=text] {
  font-size: 14px;
  align-items: center;
  border: 1px solid #E66440;
  border-radius: 4px;
}

.redes_footer_behance, .redes_footer_linkedin, .redes_footer_instagram, .redes_footer_youtube {
  width: 40px;
  height: 40px;
  margin: 10px 10px 0 0;
  align-items: center !important;
  display: inline-block !important;
}

.redes_footer_behance:hover {
  width: 50px;
  height: 50px;
  transition: 0, 3s;
}

.redes_footer_instagram:hover {
  width: 50px;
  height: 50px;
  transition: 0, 3s;
}

.redes_footer_linkedin:hover {
  width: 50px;
  height: 50px;
  transition: 0, 3s;
}

.redes_footer_youtube:hover {
  width: 50px;
  height: 50px;
  transition: 0, 3s;
}

.texto_about {
  font-size: 20px;
  color: #E66440;
  background-color: #EBDDBC;
  padding: 100px 200px;
}

.texto_about_negrita {
  font-weight: 600;
}

.timeline_cv {
  position: relative;
  max-width: 800px;
  margin: 80px auto;
  padding-left: 50px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: #E66440;
}
.timeline_cv::before {
  content: "";
  position: absolute;
  left: 45px;
  top: 20px;
  bottom: 160px;
  width: 4px;
  background-color: #EBADB9;
}
.timeline_cv h3 {
  font-size: 45px;
  font-weight: 700;
  color: #EBDDBC;
}
.timeline_cv .texto_cv_negrita {
  font-weight: 600;
}
.timeline_cv .item1_cv, .timeline_cv .item2_cv, .timeline_cv .item3_cv, .timeline_cv .item4_cv, .timeline_cv .item5_cv, .timeline_cv .item6_cv, .timeline_cv .item7_cv {
  position: relative;
  margin-bottom: 50px;
  margin-left: 60px;
  padding-left: 20px;
  color: #E66440;
}
.timeline_cv .item1_cv::before, .timeline_cv .item2_cv::before, .timeline_cv .item3_cv::before, .timeline_cv .item4_cv::before, .timeline_cv .item5_cv::before, .timeline_cv .item6_cv::before, .timeline_cv .item7_cv::before {
  content: "";
  position: absolute;
  left: -74px;
  top: 20px;
  width: 20px;
  height: 20px;
  background-color: #EBADB9;
  border-radius: 50%;
  transform: translateY(-50%);
}
.timeline_cv .item1_cv .año1, .timeline_cv .item1_cv .año2, .timeline_cv .item1_cv .año3, .timeline_cv .item1_cv .año4, .timeline_cv .item1_cv .año5, .timeline_cv .item1_cv .año6, .timeline_cv .item1_cv .año7, .timeline_cv .item2_cv .año1, .timeline_cv .item2_cv .año2, .timeline_cv .item2_cv .año3, .timeline_cv .item2_cv .año4, .timeline_cv .item2_cv .año5, .timeline_cv .item2_cv .año6, .timeline_cv .item2_cv .año7, .timeline_cv .item3_cv .año1, .timeline_cv .item3_cv .año2, .timeline_cv .item3_cv .año3, .timeline_cv .item3_cv .año4, .timeline_cv .item3_cv .año5, .timeline_cv .item3_cv .año6, .timeline_cv .item3_cv .año7, .timeline_cv .item4_cv .año1, .timeline_cv .item4_cv .año2, .timeline_cv .item4_cv .año3, .timeline_cv .item4_cv .año4, .timeline_cv .item4_cv .año5, .timeline_cv .item4_cv .año6, .timeline_cv .item4_cv .año7, .timeline_cv .item5_cv .año1, .timeline_cv .item5_cv .año2, .timeline_cv .item5_cv .año3, .timeline_cv .item5_cv .año4, .timeline_cv .item5_cv .año5, .timeline_cv .item5_cv .año6, .timeline_cv .item5_cv .año7, .timeline_cv .item6_cv .año1, .timeline_cv .item6_cv .año2, .timeline_cv .item6_cv .año3, .timeline_cv .item6_cv .año4, .timeline_cv .item6_cv .año5, .timeline_cv .item6_cv .año6, .timeline_cv .item6_cv .año7, .timeline_cv .item7_cv .año1, .timeline_cv .item7_cv .año2, .timeline_cv .item7_cv .año3, .timeline_cv .item7_cv .año4, .timeline_cv .item7_cv .año5, .timeline_cv .item7_cv .año6, .timeline_cv .item7_cv .año7 {
  font-size: 22px;
  margin-bottom: 10px;
  position: absolute;
  left: -200px;
}

.contenedor_img_cv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contenedor_img_cv .educacion_cv,
.contenedor_img_cv .programas_cv {
  width: 50%;
  height: auto;
}

#images {
  display: grid;
  margin: 100px auto;
  padding: 0 150px;
  grid-template-columns: repeat(2, fr);
  grid-template-rows: repeat(5, fr);
  grid-template-areas: "floralia srtapeel" "atipico ch" "entrenate zorzal" "thomas gula" "sedal skip";
  column-gap: 50px;
  row-gap: 50px;
}
#images .marca1, #images .marca2, #images .marca3, #images .marca4, #images .marca5, #images .marca6, #images .marca7, #images .marca8, #images .marca9, #images .marca10 {
  width: 100%;
  height: auto;
}

.contenedor_contacto {
  background-color: #EBDDBC;
}
.contenedor_contacto h1 {
  font-size: 60px;
}
.contenedor_contacto h2 {
  font-size: 30px;
}
.contenedor_contacto .formulario_contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedor_contacto .formulario_contacto input, .contenedor_contacto .formulario_contacto textarea {
  width: 40%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #EBDDBC;
  border-radius: 4px;
  font-size: 16px;
}
.contenedor_contacto .formulario_contacto textarea {
  height: 300px;
  resize: none;
}
.contenedor_contacto .formulario_contacto input[type=submit] {
  background-color: #E66440;
  color: #EBDDBC;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}
.contenedor_contacto .formulario_contacto input[type=submit]:hover {
  background-color: #D3543F;
}

.logo_contacto {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.contenedor_informacion {
  width: 100%;
  height: auto;
  padding: 100px 200px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.contenedor_informacion .iconos_contacto1, .contenedor_informacion .iconos_contacto2 {
  width: 50px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contenedor_informacion .texto_contacto1, .contenedor_informacion .texto_contacto2 {
  font-size: 24px;
  color: #E66440;
}

#animaciones {
  width: 100%;
  height: 100vh;
  background-color: aqua;
}

/* INDEX */
h4 {
  font-size: 40px;
  font-weight: 600;
  color: #E66440;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  margin: 50px auto 0 auto;
}

.carousel-inner {
  padding: 10px 80px 70px 80px;
}

.card {
  width: 350px;
  border: none;
  border-radius: 30px;
  background-color: #EBDDBC;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card .card-img-top {
  padding: 30px 30px 0 30px;
  border-radius: 30px;
  background-color: #EBDDBC;
}
.card .card-title {
  color: #EBADB9;
  font-size: 20px;
  font-weight: bold;
  padding: 0 0 0 30px;
}
.card .card-text {
  font-size: 13px;
  color: #E66440;
  padding: 0 30px 30px 30px;
}

.grid_index {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  height: auto;
}
.grid_index .socialmedia_index, .grid_index .graphicdesign_index, .grid_index .web_index, .grid_index .artdirection_index {
  width: 100%;
  height: auto;
}
.grid_index a img:hover {
  opacity: 80%;
  transition: 0.3s;
}

/*# sourceMappingURL=style.css.map */
