@charset "UTF-8";
/*
0- * - todo el sitio
1-!important - va al final
2-id - #
3-class - .
4-selectores / etiquetas - por ej h1
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-style: none;
  text-decoration: none !important;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 1000px) {
  #images {
    width: 100%;
    height: auto;
    margin: 70px auto;
    padding: 0 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "floralia" "srtapeel" "atipico" "ch" "entrenate" "zorzal" "thomas" "gula" "sedal" "skip";
    row-gap: 20px;
  }
}
@media (max-width: 768px) {
  #footer {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  h1 .trabajemos {
    font-size: 30px;
  }
}
@media (max-width: 1000px) {
  h2 {
    font-size: 18px;
    margin: 0 0 50px 0;
  }
}
@media (max-width: 768px) {
  .grid_index {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
#header {
  max-width: 1920px;
  width: 100%;
  height: 65px;
  box-sizing: border-box;
  background-color: #EBADB9;
}

.navbar-nav a {
  font-size: 20px;
  color: #E66440;
  padding: 5px;
}

.navbar-nav a:hover {
  font-weight: 600;
  color: #E66440;
  transition: 0.03s;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(230, 100, 64)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-collapse.show .nav-link {
  background-color: rgba(235, 173, 185, 0.9333333333);
  color: #E66440;
  text-align: center;
  margin: 0px;
  padding: 2px;
}

.navbar-collapse.show .nav-link:hover {
  background-color: #EBADB9;
  color: #E66440;
  font-weight: 600;
}

.navBar__logo {
  width: 40px;
  height: 40px;
}

.navBar__logo:hover {
  width: 45px;
  height: 45px;
  transition: 0.3s;
}

#body {
  background-color: white;
  max-width: 1920px;
  height: 1000px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  width: 100%;
  min-height: 100vh;
}

#footer {
  width: 100%;
  height: auto;
  max-width: 100%;
  background-color: #E66440;
  display: flex;
  justify-content: space-between;
  padding: 0 20px 10px 20px;
  box-sizing: border-box;
}

.logo_footer img {
  width: 200px;
  margin: 20px 0 0 30px;
}

ul, li, a {
  list-style: none; /*lista sin puntos*/
  font-size: 18px;
  color: #EBDDBC;
  display: flex;
  flex-direction: column;
}

ul li a:hover {
  font-weight: 600;
  transition: 0.3s;
}

.formulario_footer {
  font-size: 18px;
  color: #EBDDBC;
  align-items: center;
}

.formulario_footer input[type=text] {
  font-size: 14px;
  align-items: center;
  border: 1px solid #E66440;
  border-radius: 4px;
}

.redes_footer_behance, .redes_footer_linkedin, .redes_footer_instagram, .redes_footer_youtube {
  width: 40px;
  height: 40px;
  margin: 10px 10px 0 0;
  align-items: center !important;
  display: inline-block !important;
}

.redes_footer_behance:hover {
  width: 50px;
  height: 50px;
  transition: 0, 3s;
}

.redes_footer_instagram:hover {
  width: 50px;
  height: 50px;
  transition: 0, 3s;
}

.redes_footer_linkedin:hover {
  width: 50px;
  height: 50px;
  transition: 0, 3s;
}

.redes_footer_youtube:hover {
  width: 50px;
  height: 50px;
  transition: 0, 3s;
}

.cuadricula_main {
  width: 100%;
  height: auto;
  box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.183);
  position: relative;
}

.texto_about {
  font-size: 20px;
  color: #E66440;
  background-color: #EBDDBC;
  padding: 100px 200px;
}

.texto_about_negrita {
  font-weight: 600;
}

.timeline_cv {
  position: relative;
  max-width: 800px;
  margin: 80px auto;
  padding-left: 50px; /* Espacio para la línea */
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: #E66440;
}

h3 {
  font-size: 45px;
  font-weight: 700;
  color: #EBDDBC;
}

.texto_cv_negrita {
  font-weight: 600;
}

.timeline_cv::before {
  content: "";
  position: absolute;
  left: 45px;
  top: 20px;
  bottom: 160px;
  width: 4px;
  background-color: #EBADB9;
}

.timeline_cv .item1_cv,
.timeline_cv .item2_cv,
.timeline_cv .item3_cv,
.timeline_cv .item4_cv,
.timeline_cv .item5_cv,
.timeline_cv .item6_cv,
.timeline_cv .item7_cv {
  position: relative;
  margin-bottom: 50px;
}

.timeline_cv .item1_cv::before,
.timeline_cv .item2_cv::before,
.timeline_cv .item3_cv::before,
.timeline_cv .item4_cv::before,
.timeline_cv .item5_cv::before,
.timeline_cv .item6_cv::before,
.timeline_cv .item7_cv::before {
  content: "";
  position: absolute;
  left: -74px;
  top: 20px;
  width: 20px;
  height: 20px;
  background-color: #EBADB9;
  border-radius: 50%;
  transform: translateY(-50%);
}

.item1_cv, .item2_cv, .item3_cv, .item4_cv, .item5_cv, .item6_cv, .item7_cv {
  margin-left: 60px;
  padding-left: 20px;
  position: relative;
  color: #E66440;
}

.año1, .año2, .año3, .año4, .año5, .año6, .año7 {
  font-size: 22px;
  margin-bottom: 10px;
  position: absolute;
  left: -200px;
}

.contenedor_img_cv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.educacion_cv, .programas_cv {
  width: 50%;
  height: auto;
}

#images {
  width: 100%;
  max-width: 1200px;
  display: grid;
  margin: 100px auto;
  padding: 0 150px;
  grid-template-columns: repeat(2, fr);
  grid-template-rows: repeat(5, fr);
  grid-template-areas: "floralia srtapeel" "atipico ch" "entrenate zorzal" "thomas gula" "sedal skip";
  column-gap: 50px;
  row-gap: 50px;
}

.marca1, .marca2, .marca3, .marca4, .marca5, .marca6, .marca7, .marca8, .marca9, .marca10 {
  width: 100%;
  height: auto;
}

.contenedor_contacto {
  background-color: #EBDDBC;
  margin: 0;
  padding: 0;
}

.contenedor_contacto h1 {
  font-size: 60px;
  background-color: #EBDDBC;
}

.contenedor_contacto h2 {
  font-size: 30px;
  background-color: #EBDDBC;
}

.formulario_contacto {
  background-color: #EBDDBC;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario_contacto input[type=text], .formulario_contacto textarea {
  width: 40%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #EBDDBC;
  border-radius: 4px;
  font-size: 16px;
}

.formulario_contacto textarea {
  height: 300px;
  resize: none;
}

.formulario_contacto input[type=submit] {
  background-color: #E66440;
  color: #EBDDBC;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

.formulario_contacto input[type=submit]:hover {
  background-color: #D3543F;
}

.logo_contacto {
  width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contenedor_informacion {
  width: 100%;
  height: auto;
  padding: 100px 200px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.iconos_contacto1, .iconos_contacto2 {
  width: 50px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.texto_contacto1, .texto_contacto2 {
  font-size: 24px;
  color: #D3543F;
}

/*MAIN*/
.portada_contacto, .portada_proyectos, .portada_cv, .portada_index, .ondas_footer, .portada_about, .gif_main, .about_main, .cuadricula_main {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
}

h1, .trabajemos {
  font-size: 40px;
  font-weight: 700;
  color: #EBADB9;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 50px auto 0 auto;
}

.trabajemos:hover {
  font-size: 50px;
  transition: 0.3s;
}

h2 {
  font-size: 20px;
  color: #E66440;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 0 auto 100px auto;
}

/*INDEX*/
h4 {
  font-size: 40px;
  font-weight: 600;
  color: #E66440;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  margin: 50px auto 0 auto;
}

.carousel-inner {
  padding: 10px 80px 70px 80px;
}

.card {
  width: 350px;
  border: none;
  border-radius: 30px;
  background-color: #EBDDBC;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  padding: 30px 30px 0 30px;
  border-radius: 30px;
  background-color: #EBDDBC;
}

.card-title {
  color: #EBADB9;
  font-size: 20px;
  font-weight: bold;
  padding: 0 0 0 30px;
}

.card-text {
  font-size: 13px;
  color: #E66440;
  padding: 0 30px 30px 30px;
}

.grid_index {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  height: auto;
}

.socialmedia_index, .graphicdesign_index, .web_index, .artdirection_index {
  width: 100%;
  height: auto;
}

.grid_index a img:hover {
  opacity: 80%;
  transition: 0, 3s;
}

/*ABOUT*/
/*CV*/
/*PROYECTOS*/
/*CONTACTO*/
/*FOOTER*/
/*RESPONSIVE*/

/*# sourceMappingURL=style.css.map */
