//ESTILOS RESET Y QUERIES
@import "formatos/reset";
@import "formatos/breakpoints";
//ESTILOS HTML
@import "formatos/header";
@import "formatos/body-main";
@import "formatos/footer";

//PAGE ABOUT
@import "about/about";
//PAGE CV
@import "cv/cv";
//PAGE PROYECTOS
@import "proyectos/proyectos";
//PAGE CONTACTO
@import "contacto/contacto";


/* INDEX */
h4 {
  font-size: 40px;
  font-weight: 600;
  color: $primary-color;
  font-family: $font-family-secondary;
  display: flex;
  justify-content: center;
  margin: 50px auto 0;
}

.carousel-inner {
  padding: 10px 80px 70px 80px;
}

/* Tarjetas */
.card {
  width: 350px;
  border: none;
  border-radius: 30px;
  background-color: $background-color;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .card-img-top {
    padding: 30px;
    border-radius: 30px;
    background-color: $background-color;
  }

  .card-title {
    color: $secondary-color;
    font-size: 20px;
    font-weight: bold;
    padding-left: 30px;
  }

  .card-text {
    font-size: 13px;
    color: $primary-color;
    padding: 0 30px 30px;
  }
}

/* Grillas */
.grid_index {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "floralia srtapeel"
    "atipico ch"
    "entrenate zorzal"
    "thomas gula"
    "sedal skip";
  column-gap: 50px;
  row-gap: 50px;
}

.grid_index a img:hover {
  opacity: 80%;
  @include transition-effect(opacity, 0.3s);
}

/* Responsive */
