.timeline_cv {
    position: relative;
    max-width: 800px;
    margin: 80px auto;
    padding-left: 50px;
    font-size: 20px;
    font-family: $font-family-primary;
    color: $primary-color;

    &::before {
        content: '';
        position: absolute;
        left: 45px; 
        top: 20px;
        bottom: 160px;
        width: 4px;
        background-color: $secondary-color;
    }

    h3 {
        font-size: 45px;
        font-weight: 700;
        color: $background-color;
    }

    .texto_cv_negrita {
        font-weight: 600;
    }

    .item1_cv, .item2_cv, .item3_cv, .item4_cv, .item5_cv, .item6_cv, .item7_cv {
        position: relative;
        margin-bottom: 50px;
        margin-left: 60px;
        padding-left: 20px;
        color: $primary-color;

        &::before {
            content: '';
            position: absolute;
            left: -74px;
            top: 20px;
            width: 20px;
            height: 20px;
            background-color: $secondary-color;
            border-radius: 50%;
            transform: translateY(-50%);
        }

        .año1, .año2, .año3, .año4, .año5, .año6, .año7 {
            font-size: 22px;
            margin-bottom: 10px;
            position: absolute;
            left: -200px;
        }
    }
}

.contenedor_img_cv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .educacion_cv,
    .programas_cv {
        width: 50%;
        height: auto;
    }
}