.cuadricula_main {
    width: 100%;
    height: auto;
    box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.183); 
    position: relative; 
}

.texto_about {
    font-size: 20px;
    color: #E66440;
    background-color: #EBDDBC;
    padding: 100px 200px; 
}

.texto_about_negrita {
    font-weight: 600;
}