#body {
    background-color: white;
    max-width: 1920px;
    height: 1000px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    width: 100%;
    min-height: 100vh;
}

.portada_contacto, .portada_proyectos, .portada_cv, .portada_index, .ondas_footer, .portada_about, .gif_main, .about_main, .cuadricula_main, .portada_contacto_mobile, .portada_proyectos_mobile, .portada_cv_mobile, .portada_about_mobile, .portada_mobile, .about_main_mobile, .cuadricula_main_mobile, .ondas_contacto {
    max-width: 100%;
    height: auto;
}

.portada_mobile, .portada_about_mobile, .portada_contacto_mobile, .portada_cv_mobile, .portada_proyectos_mobile, .about_main_mobile, .cuadricula_main_mobile {
    display: none;
}

h1, .trabajemos {
    font-size: 40px;
    font-weight: 700;
    color: $secondary-color;
    font-family: $font-family-secondary;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;

    &:hover {
        font-size: 50px;
        @include transition-effect(all, 0.3s);
    }
}

h2 {
    font-family: $font-family-primary;
    font-weight: 400;
    font-size: 20px;
    color: $primary-color;
    text-align: center;
    margin: 0 auto 100px;
}