@media (max-width: 1000px) {
    #images {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }

    h1 .trabajemos {
        font-size: 30px;
    }

    h2 {
        font-size: 18px;
        margin-bottom: 50px;
    }
}

@media (max-width: 768px) {
    #footer {
        flex-direction: column;
        text-align: center;
    }

    .card {
        width: 100%;
    }

    .grid_index {
        grid-template-columns: 1fr;
    }
}